%h3
  Courses:
  = @courses.count

.row 
  .col-md-3
    -# = search_form_for @q do |f|
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      = f.label :title
      = f.search_field :title_cont, placeholder: 'search title', class: "form-control form-control-sm mb-2"
      = f.label :short_description
      = f.search_field :short_description_cont, placeholder: 'search short desciption', class: "form-control form-control-sm mb-2"
      -# = f.select :language_cont, ['English', 'French', 'Spanish', 'German'], placeholder: 'search language', class: "form-control form-control-sm mb-2"
      = f.label :language
      = f.select :language_cont, Course.languages, include_blank: true
      = f.label :level
      = f.select :level_cont, Course.levels, include_blank: true
      = f.label :price
      = f.search_field :price_eq, placeholder: 'search price', class: "form-control form-control-sm mb-2"
      = f.label :email
      = f.search_field :user_email_cont, placeholder: 'search email', class: "form-control form-control-sm mb-2"
      = f.submit 
    = link_to courses_path, class: 'btn btn-sm btn-secondary mt-2' do
      .fa.fa-sync.text-white  Refresh

  .col-md-9
    - @courses.each do |course|
      = render 'courses/course', course: course
    -# != pagy_nav(@pagy)
    != pagy_bootstrap_nav(@pagy)

