-content_for :title do
    E-LEARN
    \|
    = @course.title

%p
= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)

.row 
    .col-md-4
        = render 'courses/course', course: @course

    .col-md-8
        = link_to 'Add New Lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-outline-primary mb-3'
        - @lessons.each do |lesson|
            = render 'lessons/lesson', lesson: lesson